@font-face {
  src: url(http://lab.web-gate.fr/fonts/tisa/TisaOT.otf);
  font-family: tisa;
  
  
  /* I knowwwwwwww everybody wants to see this beautiful font but you can't  because I'm too bored right now.. that the reason why this project is born because I'm too bored, so ... don't complain, or I create a vodoo puppet of you, and i torture you ! */
}

html, body {
  width: 100%;
  height: 100%;
  font-weight: 600;
}

.bit-1 .btn {
  margin: .8em auto 0;
  width: 80%;
  display: block;
}

blockquote {
  padding: .4em;
  color: #7f8c8d;
  line-height: 0;
  text-align: center;
}
blockquote:before {
  content: '"';
}
blockquote:after {
  content: '"';
}

small {
  display: inline;
  color: #7f8c8d;
}

body {
  font-family: "tisa",helvetica,sans-serif; /* Helvetica is also beautiful isn't it ;) */
  color: #34495e;
  text-shadow: 0 -1px 0 #fff;
  font-size: 1.32em;
  background: #ecf0f1;
}

h1 {
  text-align: center;
}

p {
  width: 80%;
  margin: 2% 10%;
}

.presentation {
  color: #747474;
  padding: 0;
  margin: .4em auto;
  font-weight: 300;
  text-align: justify;
}

.footer {
  text-align: center;
  font-size: .6em;
}

.footer a {
  color: #1393d5;
  text-decoration: none;
  text-align: center;
}

.footer a span {
  color: #000;
}

h3, h4 {
  text-align: center;
}

p {
  text-align: justify;
}

.bit-2 {
  margin-top: 2em;
}

.true h4, .true h3 {
  color: #2ecc71;
}

.false h4, .false h3 {
  color: #e74c3c;
}
